
@{
    ViewBag.Title = "Ekle";
}

<h2>Ekle</h2>


<form class="form-group" method="post">

    <div>
        <label>Kiş Adı</label>
        <input type="text" name="UserName" class="form-control" />
    </div>
    <div>
        <label>Kiş Soyadı</label>
        <input type="text" name="UserSurname" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary"> Kişi Ekle</button>
    </div>
</form>
